*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.WeatherApp {
   
    background-image: url("../images/Project-bg.png");
    backface-visibility: hidden;
    background-size: cover;
}
p{
    font-weight: bolder;
    color: rgb(244,187,14);   
}
.section{
    background: radial-gradient(darkslategrey, transparent);
}




@media screen and (min-width: 550px) {
    .caver{
        width: 50%;
    }

}

